@media screen and (max-width: 1200px) {
    .desktop-logo,
    .nav-links {
        display: none;
    }

    .mobile-nav {
        display: flex;
        justify-content: space-around;
    }

    .logo {
        font-size: 24px;
    }
}
