@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fafafa;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 3rem;
    font-size: 1.5rem;
}

.desktop-logo {
    font-size: 32px;
    cursor: pointer;
}

.desktop-logo a {
    text-decoration: none;
    color: #000;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links li {
    list-style: none;
}

.nav-link-items {
    text-decoration: none;
    color: #000;
    transition: all 0.2s ease-in-out;
}

.nav-link-items:hover {
    text-decoration: underline;
    color: gray;
    text-underline-offset: 10px;
    text-decoration-color: rgb(181, 181, 181);
}

.mobile-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    width: 35px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

.hero {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    margin-right: 4rem;
}

.profile-img {
    height: 400px;
    width: 400px;
}

.personal-details {
    text-align: center;
}

.section-text-1 {
    font-size: 16px;
    color: #555555;
}

h1 {
    font-size: 48px;
}

.section-text-2 {
    font-size: 28px;
    color: #555555;
    padding-bottom: 16px;
}

.section-btns {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 1rem;
    font-weight: 600;
    width: 8rem;
    border: 1px solid #000;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}

.btn-cv:hover {
    border: none;
    background-color: #353535;
    color: #fff;
}

.btn-contact {
    background-color: #353535;
    color: #fff;
}

.btn-contact:hover {
    border: none;
    background-color: #000;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.socials img {
    height: 32px;
}

.about-container {
    text-align: center;
    margin-top: 5rem;
}

.about-section-txt {
    color: #555555;
}

.about-heading {
    font-size: 3rem;
}

.qualification-card {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
}

.qualification-card img {
    height: 32px;
}

.detail-container {
    border: 1px solid #ddd;
    padding-block: 1.5rem;
    padding-inline: 10rem;
    border-radius: 2rem;
}

.detail-container p {
    color: #555555;
}

.about-me {
    margin-top: 2rem;
    color: #555555;
}

.experience-section {
    text-align: center;
    margin-inline: 10rem;
}

.experience-txt {
    margin-top: 2rem;
}

.experience-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.experience-heading-2 {
    font-size: 1.5rem;
}

.languages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 600px;
    margin-inline: auto;
    margin-top: 1rem;
    padding-block: 3rem;
    padding-left: 18px;
    border-radius: 2rem;
    border: 1px solid #a3a3a3;
}

.language {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.language img {
    height: 40px;
}

.language-name {
    font-size: 20px;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 1px;
}

/* projects styles */

.projects-container {
    margin-top: 2rem;
}

.main-headings {
    text-align: center;
    margin-bottom: 2rem;
}

.main-headings p {
    color: #555555;
}

.main-headings h3 {
    font-size: 48px;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.projects img {
    height: 200px;
    width: 400px;
    border-radius: 2px;
}

.projects h4 {
    font-size: 28px;
    margin-block: 1rem;
}

.project-1 {
    text-align: center;
}

.project-2 {
    text-align: center;
}

.project-3 {
    text-align: center;
}

.project-btn a {
    text-decoration: none;
    color: #000;
}

.project-btn {
    background-color: #fafafa;
    border: 1px solid #a3a3a3;
    transition: all 0.3s ease;
}

.project-btn:hover {
    background-color: #353535;
}

.project-btn:hover a {
    color: #fff;
}

.contact-container {
    margin-top: 1rem;
}

.contact-heading {
    text-align: center;
}

.contact-heading p {
    color: #555555;
}

.contact-heading h3 {
    font-size: 3rem;
}

.contact {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-inline: auto;
}

label {
    font-size: 20px;
    font-weight: 600;
    margin-top: 1rem;
}

textarea:focus,
input:focus {
    border-color: #5222fd;
    outline: none;
}

textarea {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    resize: none;
}

.input {
    width: 100%;
    padding-block: 1rem;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 18px;
    border: 1px solid #ddd;
}

.input::placeholder {
    font-size: 18px;
}

.submit-btn {
    margin-top: 1rem;
    padding: 14px 26px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease;
}

.submit-btn:hover {
    background-color: #252525;
}
